/*---====================================================================
1 - Google Font
======================================================================---*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
.fontRobotLight {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
.fontRobotMiddle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
.fontRobotBold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
/*---====================================================================
2 - Album styles
======================================================================---*/
.albumTable .pagination-buttons button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #4A78C0;
  color: #fff;
  border: none;
  margin-top: 5px;
}
.albumTable .pagination-buttons button:hover,
.albumTable .pagination-buttons button:focus,
.albumTable .pagination-buttons button:active {
  background-color: #4A78C0;
  color: #fff;
  border: none;
}
.albumTable .album-items .col-md-12 h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}
.albumTable .album-items .album-img .img-box {
  margin-bottom: 40px;
}
.albumTable .album-items .album-img .img-box figure figcaption {
  font-size: 11px;
  padding-top: 5px;
}
